@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}

/* Name */
.context {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.context h1{
    text-align: center;
    color: #000000;
    font-size: 3.215rem;
}

/* Animation */
.area{
    background: #FFF1DE;  
    /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
    width: 100%;
    height: 100vh;; 
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 1.25rem;
    height: 1.25rem;
    background: #A3CFA7;
    animation: animate 25s linear infinite;
    bottom: -8.438rem;  
}

.circles li:nth-child(1){
    left: 25%;
    width: 5rem;
    height: 5rem;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 1.25rem;
    height: 1.25rem;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 1.25rem;
    height: 1.25rem;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 3.75rem;
    height: 3.75rem;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 1.25rem;
    height: 1.25rem;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 6.875rem;
    height: 6.875rem;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 9.375rem;
    height: 9.375rem;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 1.563rem;
    height: 1.563rem;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 0.938rem;
    height: 0.938rem;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 9.375rem;
    height: 9.375rem;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* Nav Bar */
nav {
position: fixed;
top: 0;
width: 100%;
background-color: #FFF1DE;
z-index: 9999;
text-align: center;
display: flex;
justify-content: center;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
display: flex;
}

nav li {
float: left;
margin: 0 10px;
}

nav li a {
display: block;
padding: 15px;
color: #000000;
text-align: center;
text-decoration: none;
font-size: 18px;
}

nav li a:hover {
border-bottom: 3px solid #000000;
}

/* About Me | Education | Work Experience | */
.aboutme-container{
    background-color: #A3CFA7; 
}

.education-container{
    background-color: #FFF1DE;
}

.work-container{
    background-color: #A3CFA7;
}

h2{
    padding-top: 55px;
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
}

p{
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
}

/* Footer */
/* footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000b3;
    color: #fff;
    font-size: 14px;
    padding: 20px 0;
    text-align: center;
  }
  
.footer-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
} */
/* 
.social-icons {
display: flex;
list-style: none;
padding: 10px;
}

.social-icons li {
margin-right: 10px;
}

.social-icons a {
color: #fff;
}

.social-icons i {
font-size: 20px;
}
   */